.secTwo {
  height: 100vh;
  width: 100vw;
  position: relative;

  .images {
    width: 98vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .image {
      overflow: hidden;
      img {
        width: 700px;
      }
    }
    .one {
      margin-top: 24vh;
      margin-left: 3vw;
      overflow: hidden;
      height: 500px;
      width: 350px;
    }
    .two {
      margin-top: 5vh;
      margin-left: 23vw;
      overflow: hidden;
      height: 350px;
      width: 250px;
    }
    .three {
      margin-top: 22vh;
      margin-left: 10vw;
      overflow: hidden;
      height: 300px;
      width: 250px;
    }
  }
  .text{
      position: absolute;
      bottom: 5vh;
      right: 20vh;
      width: 200px;
      font-size: 10px;
  }
}
